body {
  background: linear-gradient(#fff 60%, #E087B5);
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container section.calculator {
  background: linear-gradient(255,255,255);
  width : 432px;
  height : 768px;
  position: relative;
  border-radius: 20px;
}
.container section.calculator .result{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 80px;
  padding: 0;
  border-width: 0;
  /* padding: 0;
  border-width: 0; 
  이 두개 꼭 해줘야되는지*/
}
.container section.calculator .result input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 350px;
  margin-top: 50px;
  text-align: right;
  color: #fff;
}

#total {
  font-size: 21px;
}
#calculation {
  font-size: 36px;
}

.buttons {
  position: absolute;
  width : 320px;
  height : 370px;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  transition: all .3s;
}
button {
  font-size: 24px;
  color: #fff;
} 
.buttons .button__1st .btn {
  margin-left: 2.4rem;
}

.buttons .button__2nd .btn,
.buttons .button__3rd .btn,
.buttons .button__4th .btn {
  margin: 7px 7px;
}
.buttons .button__5th .btn{
  margin-left: 1.5rem;
  /* margin-left: 25px; */
  /* transition: all 1s; */
  
}

/* 모든 버튼 커스컴 */
.buttons .button__1st .btn,
.buttons .button__2nd .btn,
.buttons .button__3rd .btn,
.buttons .button__4th .btn,
.buttons .button__5th .btn:nth-child(2),
.buttons .button__5th .btn:nth-child(3){
  background:radial-gradient(rgb(226,192,190, 1), rgba(255, 255, 255, 0) 60%);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  cursor: pointer; 
}

/* 모든 버튼 호버 커스텀 */
.buttons .button__1st .btn:hover,
.buttons .button__2nd .btn:hover,
.buttons .button__3rd .btn:hover,
.buttons .button__4th .btn:hover,
.buttons .button__5th .btn:nth-child(2):hover,
.buttons .button__5th .btn:nth-child(3):hover {
  background: radial-gradient(rgba(244, 135, 180, 0.45) 0%, rgba(226, 192, 190, 0.45) 40%);
  /* color: #000; */
}

.buttons .button__5th .number {
  width: 100px;
  /* height: 45px;
  background-color:transparent;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: all 1s;
  cursor: pointer; */
  .top { border-image-width: 20px 0 0 0; }
  .bottom { border-image-width: 0 0 0 20px; }
  .left { border-image-width: 0 0 20px 0; }
  .right { border-image-width: 0 20px 0 0; }
  .all { border-image-width: 20px; }
}

.buttons .button__5th .number:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  transition: all 1s;
}

.buttons .button__1st .btn:active,
.buttons .button__2nd .btn:active,
.buttons .button__3rd .btn:active,
.buttons .button__4th .btn:active,
.buttons .button__5th .btn:nth-child(2):active,
.buttons .button__5th .btn:nth-child(3):active {
  background:
      linear-gradient(190deg, rgb(255,243,180), rgb(0,0,0,0) 70.71%),
      linear-gradient(230deg, rgb(224,135,181,1), rgba(128, 128, 128, 0) 70.71%),
      linear-gradient(365deg, rgb(102,103,171), rgba(128, 128, 128, 0) 70.71%);  
      color: #1f0937;
} 


.buttons .button__5th .number:active {
  background: #fff;
  color: #1f0937;
}
section.calculator-log {
}
section.calculator-log section.iconwrap-top {}
section.calculator-log section.iconwrap-top .wrap-box{}

